
<%= form_for(@chef) do |f| %>
  <% if @chef.errors.any? %>
  
    <div id="error_explanation">
      <h2><%= pluralize(@chef.errors.count, "error") %> prohibited this chef from being saved:</h2>

      <ul>
      <% @chef.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="six columns">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :recipes %><br />
    <%= f.collection_select :recipes, ["dessert", "entree", "snack"], :to_s, :to_s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </div>

<% end %>
