<h1>Listing meals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Chef</th>
    <th>Date</th>
    <th>Pickup time</th>
    <th>Location</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.name %></td>
    <td><%= meal.chef %></td>
    <td><%= meal.date %></td>
    <td><%= meal.pickup_time %></td>
    <td><%= meal.location %></td>
    <td><%= meal.description %></td>
    <td><%= link_to 'Show', meal %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<center><a class="btn btn-large btn-success" href="/meals/new">Create A New Meal</a></center>
<br></br>
<div id="calendar">
 <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
 </h2>
  <%= calendar_for @meals, :year => @date.year, :month => @date.month do |calendar|  %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
  <%= calendar.day(:day_method => :date) do |date, meals| %>
    <%= date.day %>
    <ul>
        <% for meal in meals %>
          <li><%= link_to h(meal.name), meal %></li>
        <% end %>
    </ul>
    <% end %>
  <% end %>
</div>

<br />


