<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meal.name %>
</p>

<p>
  <b>Chef:</b>
  <%= @meal.chef %>
</p>

<p>
  <b>Date:</b>
  <%= @meal.date %>
</p>

<p>
  <b>Pickup time:</b>
  <%= @meal.pickup_time %>
</p>

<p>
  <b>Location:</b>
  <%= @meal.location %>
</p>

<p>
  <b>Description:</b>
  <%= @meal.description %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
