<!DOCTYPE html> 
<html>
  <head>
    <title>Peer-to-Peer Cooking and Catering</title>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "application" %>
    <%= csrf_meta_tag %>
  </head>



  <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <br></br>

  <body>




   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/welcome/index">Foodies Connect</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/abouts">About</a></li>
              <li><a href="/chefs">Our Chefs</a></li>
              <li><a href="/meals">Meals</a></li>
              <% if user_signed_in? %> <li><%= link_to 'Logout',
              destroy_user_session_path,
              method: :delete %></li> 
          <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


     
<div class="container">
  <% alert = "I" %>
  <% if alert %>
  <div class="alert alert-error">
  <%= alert %>
  </div>
  <% end %>
  <% if notice %>
  <div class="alert alert-success">
  <%= notice %>
  </div>
  <% end %>

        

    		<%= yield %>
        <div class="footer">
        <p>&copy; Connie Wu 2013</p>
       </div>

      </div>
        
  		</body>

		</div>
	</div>
 </body>
</html>

</html>
