<!DOCTYPE html> 
<html>
  <head>
    <title>Peer-to-Peer Cooking and Catering</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %> 
    <%= csrf_meta_tags %>
  </head>
  <div class="row">
	<div class="nine columns">
  		<body>

        <% if alert %>
          <div class="alert alert-error"> 
            <%= alert %>
          </div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success"> 
            <%= notice %>
          </div>
          <% end %>

          <% if user_signed_in? %> <li><%= link_to 'Logout',
              destroy_user_session_path,
              method: :delete %></li> 
          <% end %>
    		<%= yield %>
  		</body>

		</div>
	</div>
</html>
